{% extends 'MsiCmfBundle::layout.html.twig' %}

{% block title %}{{ 'Sign In'|trans }}{{ parent() }}{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div id="main" style="padding: 20px;margin: 60px auto;background: #fff;width: 392px;min-height: 244px;">
        {% trans_default_domain 'FOSUserBundle' %}
        <form action="{{ path('fos_user_security_check') }}" method="POST" style="margin-bottom: 0;">
            <h1>{{ block('brand') }}</h1>
            {% if error %}
                <div class="alert fade in alert-danger"><i class="icon-exclamation-sign"></i> {{ error|trans }}</div>
            {% endif %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <label for="username">{{ 'Email'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
            <label for="password">{{ 'Password'|trans }}</label>
                <input type="password" id="password" name="_password" />
            <div class="row-fluid">
                <div class="span6">
                    <label class="checkbox" for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                    </label>
                </div>
                <div class="span6 text-right">
                    <a href="{{ path('fos_user_resetting_request') }}">{{ 'Forgot password?'|trans }}</a>
                </div>
            </div>
            <input class="btn btn-large btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </form>
    </div>
</div>
{% endblock %}

{% block css %}
{{ parent() }}
<style type="text/css">
form input[type="text"],
form input[type="password"],
.input-append .add-on {
    padding: 8px 12px;
    width: 368px;
}
</style>
{% endblock %}
